body {
    padding: 0;
    text-align: center;
  }
  
  .game-intro {
    float: left;
    padding: 3% 5%;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Arial"
  }
  
  .logo-img {
    width: 100px;
    padding-bottom: 15%;
  }
  
  .arrows-img {
    width: 150px;
  }
  
  body button {
    font-size: 30px;
    background-color: #4E8090;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #game-board {
    float: left;
    padding: 20px 0px;
  }
  
  canvas {
    border: 1px solid ; 
    position: absolute;
  }
  
  #canvas { /* Main reloadable Canvas*/
    z-index: 1; 
  } 
  
  #canvasBackground {/* Background Canvas*/
    background-image: url(../images/forest.jpeg);
    background-size: cover;
    z-index: 0;
  } 
  