body {
    padding: 0;
    text-align: center;
  }
.instructions {
  font-family: "Arial";
  color:green
}
.instructions_pambazos {
  font-family: "Arial";
  color:darkblue
}
.instructions_result {
  font-family: "Arial";
  color:darkred
}
  .game-intro {
    float: left;
    padding: 3% 5%;
  }
  
  .game-intro p {
    font-size: 18px;
    font-family: "Arial"
  }
  
  .logo-img {
    width: 100px;
    padding-bottom: 15%;
  }
  
  .arrows-img {
    width: 150px;
  }
  body button {
    font-size: 30px;
    background-color: #1b2427;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    position: absolute;
    right: 100px;
    top: 258px;
  
  }
  
  #game-board {
    float: left;
    padding: 20px 0px;
  }
  
  canvas {
    border: 1px solid ; 
    position: absolute;
  }
  
  #canvas { /* Main reloadable Canvas*/
    z-index: 1; 
  } 
  
  #canvasBackground {/* Background Canvas*/
    background-image: url(../images/forest.jpeg);
    background-size: cover;
    z-index:-1;
  } 
.banner {
  position: fixed;
  top: 0px;
  left:0px;
  z-index: 2;
  width:100vw;
  height:100vh;
  background-image: url(../images/tlou-banner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}