body {
    padding: 0;
    text-align: center;
    background-color: #010302;
    
  }
.instructions {
  font-family: "Impact";
}
.instructions_pambazos {
  font-family: "Impact";
}
.instructions_result {
  font-family: "Impact";
}
  .game-intro {
    float: left;
    padding: 10% 2%;
  }
  
  .game-intro p {
    font-size: 25px;
    font-family: "Impact";
    color: white;
    letter-spacing: 3px;
  }
  
  .logo-img {
    width: 550px;
    padding: 0;
    margin: 0;
  }
  
  .arrows-img {
    width: 150px;
  }

  
  #game-board {
    float: left;
    padding: 20px 0px;
  }
  
  canvas {
    border: none ; 
    position: absolute;
  }
  
  #canvas { /* Main reloadable Canvas*/
    z-index: 3; 
  } 
  
  #canvasBackground {/* Background Canvas*/
    background-image: url(../images/forest.jpeg);
    background-size: cover;
    z-index: 2;
  } 
  
  .banner {
    position: fixed;
    top: 0px;
    left:0px;
    z-index: 4;
    width:100vw;
    height:100vh;
    background-image: url(../images/tlou-banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.win {
  position: fixed;
  top: 0px;
  left:0px;
  z-index: -2;
  width:100vw;
  height:100vh;
  background-image: url(../images/pedrioGana.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.game-over {
  position: fixed;
  top: 0px;
  left:0px;
  z-index: -1;
  width:100vw;
  height:100vh;
  background-image: url(../images/pedritoPierde.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner button {
  font-size: 30px;
  background-color: #1b2427;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  position: absolute;
  right: 100px;
  top: 258px;
  z-index: 4;
}

.win button {
  font-size: 30px;
  background-color: #1b2427;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  position: absolute;
  right: 100px;
  top: 258px;
  z-index: 1;
}

.game-over button {
  font-size: 30px;
  background-color: #1b2427;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  position: absolute;
  right: 100px;
  top: 258px;
  z-index: 2;
}